Language: Cpp
IndentWidth: 4
TabWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
UseTab: Never
IndentCaseLabels: false
ColumnLimit: 120
Standard: Cpp11
IncludeBlocks: Preserve
SortIncludes: false